<h3>Angular Lifecycle</h3>
<hr>

<div class="hooks">
    <div class="cycle">ngOnChanges</div>
    <div>Called after a bound input property changes</div>
</div>


<div class="hooks">
    <div class="cycle">ngOnInit</div>
    <div>Called once component is initilized</div>
</div>


<div class="hooks">
    <div class="cycle">ngDoCheck</div>
    <div>Called during every change detection run</div>
</div>


<div class="hooks">
    <div class="cycle">ngAfterContentInit</div>
    <div>Called after content (ng-content) has been projected into view</div>
</div>

<div class="hooks">
    <div class="cycle">ngAfterContentChecked</div>
    <div>Called every time projected content has been checked</div>
</div>

<div class="hooks">
    <div class="cycle">ngAfterViewInit</div>
    <div>Called after the conponent's view (and child views) has been initilized</div>
</div>

<div class="hooks">
    <div class="cycle">ngAfterViewChecked</div>
    <div>Called every time view (and child views) has been checked</div>
</div>

<div class="hooks">
    <div class="cycle">ngOnDestroy</div>
    <div>Called once the component is about to destroyed</div>
</div>

<hr>

