<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="title">I'm Seletor Component</h3>
            <!-- <app-selector></app-selector> -->
            <!-- <div app-selector></div> -->
            <div class="app-selector"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="title">I'm Warning Alert Component</h3>
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="title">I'm Success Alert Component</h3>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>