<h3>An encapsulation policy for the template and CSS styles. One of:</h3>
<ul>
    <li><b><em>ViewEncapsulation.Native</em></b> : Deprecated. Use ViewEncapsulation.ShadowDom instead.</li>
    <li><b><em>ViewEncapsulation.Emulated</em></b> : Use shimmed CSS that emulates the native behavior.</li>
    <li><b><em>ViewEncapsulation.None</em></b> : Use global CSS without any encapsulation.</li>
    <li><b><em>ViewEncapsulation.ShadowDom</em></b> : Use Shadow DOM v1 to encapsulate styles.</li>
</ul>
<p><b>Note: </b>If not supplied, the value is taken from CompilerOptions. The default compiler option is
    ViewEncapsulation.Emulated.</p>

<p><b>Note: </b>it can change globl style beacuse no Angular Selector is allowed in component.</p>

<h3>How to use?</h3>
<p>In your component add :</p>
<pre>{{"@Component({
    selector: 'app-encapsulation',
    templateUrl: './encapsulation.component.html',
    styleUrls: ['./encapsulation.component.scss'],
    encapsulation: ViewEncapsulation.None // add any allowed value
  })"
}}
</pre>

<ul>
    <li><b><em>ViewEncapsulation.Native</em></b></li>
    <li><b><em>ViewEncapsulation.Emulated</em></b></li>
    <li><b><em>ViewEncapsulation.None</em></b></li>
    <li><b><em>ViewEncapsulation.ShadowDom</em></b></li>
</ul>