<p appBasicHighlight>Hey my background color is changed using directive and I'm fully styled using directive
    <strong><em>BasicHighlightDirective</em></strong></p>

<!-- <p appBetterHighlight>Hey my background color is changed using directive and I'm fully styled using directive
    <strong><em>BetterHighlightDirective</em></strong></p> -->

<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'blue'">Hey my background color is changed using
    directive and I'm fully styled using directive
    <strong><em>BetterHighlightDirective</em></strong></p>