<h3>Display Content In a Component From Outside of Component</h3>
<br>

<app-content>
    I'm going to be inserted inside content component.
</app-content>

<app-content>
    I'm also going to be inserted inside content component.
</app-content>

<app-content>
    Hey I'm also inserted inside content component.
</app-content>

<br>

<pre>
    <textarea disabled="true" 
        style="padding: 20px 0; border: none;background-color:white;width: 95%; height: 260px;">
        <app-content>
            I'm going to be inserted inside content component.
        </app-content>
        
        <app-content>
            I'm also going to be inserted inside content component.
        </app-content>
        
        <app-content>
            Hey I'm also inserted inside content component.
        </app-content>
    </textarea>
</pre>