<div class="basic">
    <div class="tl">Attribute Directives</div>
    <div class="tl">Structural Directives</div>
</div>

<div class="basic">
    <div class="cards">Look like a normal HTML Attribute (possibly with data binding or event binding)</div>
    <div class="cards">Look like a normal HTML Attribute but have a leading * (for desugaring)</div>
</div>

<div class="basic">
    <div class="cards">Only affected / change the element they are added</div>
    <div class="cards">Affect a whole area in DOM (elements get added / removed)</div>
</div>

<div class="basic">
    <div class="cards">eg. ngClass, ngStyle</div>
    <div class="cards">eg. *ngFor, *ngIf</div>
</div>